dnspython
expiringdict
pyleri
publicsuffix2
requests
git+https://github.com/bitranox/wrapt_timeout_decorator.git@64c84ea
sphinx
sphinx_rtd_theme
collective.checkdocs
flake8
wheel
nose
rstcheck>=3.3.1
codecov
